dbt-env/
logs/
.vscode/

olist_cortex_analyst/.env
olist_cortex_analyst/__pycache__/
olist_cortex_analyst/.streamlit/

olist_project/target/
olist_project/dbt_packages/
olist_project/logs/

**/__pycache__/
*.pyc